@model LibraryTechWebApp.Models.StatisticModel

@{
    ViewData["Title"] = "Statistic";
    Layout = "AdminLayout";
}

<div>
    <h1></h1>
    <h3 class="text-center">Top Read By Subscription</h3>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr class="table-active">
                <th>Id</th>
                <th>Title</th>
                <th>Number of purchases</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr class="table-secondary">
                    <td>@book.BookId</td>
                    <td><a asp-controller="Book" asp-action="ShowBookInformation" asp-route-bookId="@book.BookId">@book.Title</a></td>
                    <td>@book.UserHowRecentlyReadBySubs.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row justify-content-md-center">
    <div page-model="@Model.Info" page-action="TopReadBySubsStatistics" class="col-md-auto"></div>
</div>


